#continer-cards{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: space-evenly;
}

#card{
    width: 200px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: #000;
    cursor: pointer;
    font-family: sans-serif;
    border: 2px solid #63b4ff;
    box-shadow: 0 0 15px #63b4ff, inset 0 0 15px #63b4ff;
}

#card:hover{
    box-shadow: 0 0 25px #63b4ff, inset 0 0 15px #63b4ff;
}

.header{
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header h5{
    width: 80%;
    text-align: center;
}

.body{
    font-size: 10pt;
    padding: 10px;
}

.competidor{
    height: 300px;
    margin-top: 25px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.competidor div{
    border-radius: 5px;
}

.robo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.robo div{
    border-radius: 50%;
}

.robo img{
    border: 2px solid #0580F2;
    box-shadow: 0 0 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -45px;
    width: 70px;
    height: 70px;
}

#table-home{
    display: flex;
    flex-direction: column;
    color: #fff;
}

#table-home h2{
    font-size: 25pt;
}

@media (max-width: 450px){

    .robo img{
        border: 2px solid #0580F2;
        box-shadow: 0 0 25px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: -105px;
        width: 130px;
        height: 130px;
    }
    #card{
        height: 80%;
        width: 100%;
    }

    h5{
        font-size: 100%;
    }

    .competidor{
        height: 300px;
        margin-top: 25px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .content{
        font-size: 17pt;
    }
    
    .competidor div{
        border-radius: 5px;
    }
    
    .robo{
        width: 100px;
        height: 100px;
        margin-left: 15px;
    }
    
    .robo div{
        margin-top: -75px;
        border-radius: 50%;
        border: 2px solid blue;
        box-shadow: 0 0 25px;
    }
}