#continer-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

#card{
    width: 160px;
    height: 200px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.header{
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header h5{
    width: 80%;
    text-align: center;
}

.body{
    font-size: 10pt;
    padding: 10px;
}