#continer-cards-batle{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

#arena{
    margin: auto;
    width: 90vw;
    height: 60vh;
    background-color: #fff;
}

.min-card:hover{
    box-shadow: 0 0 25px #63b4ff, inset 0 0 15px #63b4ff;
}

.header{
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header h5{
    width: 80%;
    text-align: center;
}

.body{
    font-size: 10pt;
    padding: 10px;
}

.competidor{
    height: 300px;
    margin-top: 25px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.competidor div{
    border-radius: 5px;
}

.robo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.robo div{
    border-radius: 50%;
}

.robo img{
    border: 2px solid #0580F2;
    box-shadow: 0 0 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -45px;
    width: 70px;
    height: 70px;
}

.min-card{
    width: 150px;
    height: 200px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-family: sans-serif;
    border: 2px solid #63b4ff;
    box-shadow: 0 0 15px #63b4ff, inset 0 0 15px #63b4ff;
}

@media (max-width: 450px){
    #card{
        height: 80%;
        width: 100%;
    }

    h5{
        font-size: 20pt;
    }

    .competidor{
        height: 300px;
        margin-top: 25px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .competidor div{
        border-radius: 5px;
    }
    
    .robo{
        width: 100px;
        height: 100px;
        margin-left: 15px;
    }
    
    .robo div{
        margin-top: -75px;
        border-radius: 50%;
        border: 2px solid blue;
        box-shadow: 0 0 25px;
    }
}