.container-card {
    display: flex;
    width: 90%;
    margin: auto;
    height: auto;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 2px solid #63b4ff;
    box-shadow: 0 0 15px #63b4ff, inset 0 0 15px #63b4ff;
}

.container-card-comp {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#qr-code-comp {
    width: 100px;
    height: 100px;
}

.qrcodes, .equipe {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.equipe section{
    margin: auto 10px;
}

#competidor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 50%;
    padding: 10px;
}

#imgComp{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.equipe img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#info-competidor {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
}

#info-competidor span {
    font-weight: bold;
}

@media (max-width: 450px) {
    #competidor img {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
}